<div class="c-form c-form--big" >
  <div class="c-form__input-group">
    <input class="c-form__input" type="text" placeholder="Event name"  [(ngModel)]="name">
  </div>
  <div class="c-form__input-group">
    <input class="c-form__input" type="text" placeholder="Description"  [(ngModel)]="description">
  </div>
  <br />
  <br />
  <span class="c-form__label">Select a venue where it will be held</span>
  <select class="c-form__select"  name="venue" [(ngModel)] = "venue">
    <option *ngFor="let venue of venues" [ngValue]="venue" >
      {{ venue.name }}
    </option>
  </select>
  <br />
  <br />
  <span class="c-form__label">Select sports</span>
  <select class="c-form__select"  name="selectedSports" [(ngModel)] = "sport">
    <option *ngFor="let sport of sports" [ngValue]="sport">
      {{ sport.name }}
    </option>
  </select>
  <br />
  <br />
  <span class="c-form__label">Date</span>
  <div class="c-form__input-group">
    <i class="material-icons c-form__icon">date</i>
    <input class="c-form__input" type="date" placeholder="Date"   [(ngModel)] ="date">
  </div>
  <br />
  <br />
  <br />
  <br />
  <div class="c-form__field-group">
    <button class="c-form__button" (click)="create()" type="button">Create</button>
  </div>
</div>

