
<div class="o-cover" style="background-image: url('/assets/images/court.jpg')">
  <div class="c-form js-form-login u-display-block u-opacity-1" [formGroup]="loginForm">
    <span class="c-form__text c-form__text--small" *ngIf="localStorageItem('loginError') == 'Y' "> Incorrect username or password </span>
    <br />
    <br />
    <span class="c-form__text c-form__text--small" *ngIf="checkIfValidField('username','L')"> Username is required field</span>
    <div class="c-form__input-group">
      <i class="material-icons c-form__icon">person</i>
      <input  class="c-form__input" type="text" placeholder="Username" formControlName="username">
    </div>
    <span class="c-form__text c-form__text--small" *ngIf="checkIfValidField('password','L')"> Password is required field</span>
    <br />
    <div class="c-form__input-group">
      <i class="material-icons c-form__icon">lock</i>
      <input  class="c-form__input" type="password" placeholder="Password" formControlName="password">
    </div>
    <br />
    <div class="c-form__field-group">
      <button class="c-form__button" type="button" [disabled]="!loginForm.valid" (click)="login()">Login</button>
    </div>
    <div class="c-form__field-group c-form__field-group--centered">
      <span class="c-form__text c-form__text--small">Don't have an account? <a href="#" class="js-switch-register">Register.</a></span>
    </div>
  </div>

  <span class="c-form__text c-form__text--small" *ngIf="localStorageItem('registerError') == 'Y' "> Server could not accept your registration</span>
  <br />
  <br />
  <div class="c-form u-display-none js-form-register u-display-none u-opacity-0" [formGroup]="registerForm">
    <span class="c-form__text c-form__text--small" *ngIf="checkIfValidField('firstName','R')"> First name is invalid</span>
    <div class="c-form__input-group">
      <i class="material-icons c-form__icon" >person</i>
      <input class="c-form__input" type="text" formControlName="firstName" placeholder="First Name">
    </div>
    <span class="c-form__text c-form__text--small" *ngIf="checkIfValidField('lastName','R')"> Last name is invalid</span>
    <div class="c-form__input-group">
      <i class="material-icons c-form__icon">person</i>
      <input class="c-form__input" type="text" formControlName="lastName" placeholder="Last Name">
    </div>
    <span class="c-form__text c-form__text--small" *ngIf="checkIfValidField('username','R')"> Username is invalid</span>
    <div class="c-form__input-group">
      <i class="material-icons c-form__icon">person</i>
      <input class="c-form__input" type="text" formControlName="username" placeholder="Username">
    </div>
    <span class="c-form__text c-form__text--small" *ngIf="checkIfValidField('email','R')"> Email is invalid</span>
    <div class="c-form__input-group">
      <i class="material-icons c-form__icon">mail</i>
      <input class="c-form__input" type="email" formControlName="email" placeholder="Email">
    </div>
    <span class="c-form__text c-form__text--small" *ngIf="checkIfValidField('password','R')"> Password  is invalid</span>
    <div class="c-form__input-group">
      <i class="material-icons c-form__icon">lock</i>
      <input class="c-form__input" type="password" formControlName="password" placeholder="Password" #password>
    </div>
    <span class="c-form__text c-form__text--small" *ngIf="checkIfValidField('confirmPassword','R')"> Passwords are not the same</span>
    <div class="c-form__input-group">
      <i class="material-icons c-form__icon">lock</i>
      <input class="c-form__input" type="password" formControlName="confirmPassword" placeholder="Confirm Password" #confPassword>
    </div>
    <div class="c-form__field-group">
      <button class="c-form__button" type="button" (click)="register()">Register</button>
    </div>
    <div class="c-form__field-group c-form__field-group--centered">
      <span class="c-form__text c-form__text--small">Already have an account? <a href="#" class="js-switch-login">Login.</a></span>
    </div>
  </div>
</div>
